$light-blue: #3BAFBF;
$dark-blue: #333C4E;
$light-grey: #929292;
$lighter-grey: #c8c4c4;
$dark-white: #f7f7f7;
$fb-blue: #3C5998;
$twitter-lb: #54ACEE;
$ig-blue: #3F729B;
$bg-blue: #3597C3;
$bg-dark-blue: #327EC7;